<section class="pagination">
  <% if(currentPage !== 1 && previousPage !== 1){ %>
  <a href="?page=1">1</a>
  <% } %> <% if(previousPage !== 1 && hasPreviousPage && (previousPage-1)!==1){
  %>
  <p style="display: inline;">...</p>
  <% } %> <% if(hasPreviousPage){ %>
  <a href="?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>

  <a class="active" href="?page=<%= currentPage %>"><%= currentPage %></a>

  <% if(hasNextPage){ %>
  <a href="?page=<%= nextPage %>"><%=nextPage %></a>
  <% } %> <% if((nextPage+1) !== lastPage && nextPage !== lastPage &&
  currentPage !== lastPage){ %>
  <p style="display: inline;">...</p>
  <% } %> <% if(nextPage !== lastPage && currentPage !== lastPage){ %>
  <a href="?page=<%= lastPage %>"><%=lastPage %></a>
  <% } %>
</section>
